main{
    align-items: normal;
}

p{
    padding: 5px;
    text-align: center;
}

.about{
    border-style: solid;
    border-color: #1ce783;
}
.top{
    border-bottom: solid;
    border-color: #1ce783;
}

.quote-box{
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
}
.picture_box1 img{
    width: 350px;
    padding-bottom: 10px;
    border-radius: 8px;
}
.picture_box2 img{
    width: 350px;
    float: right;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .recommendation {
        flex-direction: column;
    }
}

@media (max-height: 600px) {
    header {
      display: grid;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
      margin-top: 0;
    }
  }

