body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header{
    flex: 0 80px;
    background-color: #333;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
}

main div form button{
    background-color: #04aa6d !important;
    border-color: #04aa6d !important;
}

footer{
    flex: 0 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background-color: #333;
    color: white;
}

footer a {
    float: right;
    color: white;
}

menu{
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
    background-color: #333;
}

li {
    float: left;
}

menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

menu li a:hover{
    background-color: #111;
}

menu li .active{
    background-color: #04aa6d;
}

.navbar-brand{
    padding-left: 0.3em;
    color: white;
}

.navbar-brand:hover{
    color: white;
}

menu .nav-item{
    padding: 0 0.3em;
    color: white;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }