main{
    align-items: normal;
}

.users{
    flex: 1;
    width: 100%;
    padding: 0.5em;
    text-align: left;
    font-weight: bold;
}

.user-name{
    color: #fede7e;
    font-weight: bold;
}

.notification{
    flex: 1;
    padding: 0.5em;
    text-align: left;
}

.user-name{
    text-align: left;
}

.Updates{
    flex: 1;
    width: 100%;
    padding: 0.5em;
    text-align: left;
    font-weight: bold;
}

.news{
    flex: 1;
    text-align: left;
    color: #fede7e;
    font-weight: bold;
}

.form-check-input:checked{
    background-color: #1ce783 !important;
    border: 0;
}

.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem green !important;
 }

 main form button{
    color: black !important;
    background-color: #1ce783 !important;
    border-color: #1ce783 !important;
    margin-bottom: 25px;
    margin-top: 13px;
    margin-left: 10px;
}

.rating-specific{
    flex: 0 50px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

@media (max-width: 768px) {
    .rating-specific {
        flex-direction: column;
    }
}