
  * {
    scrollbar-width: auto;
    scrollbar-color: #1ce781 #050505;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #050505;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1ce781;
    border-radius: 10px;
    border: 3px solid #000000;
  }

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #121212;
    color: white;
}

main div form button{
    color: black !important;
    background-color: #1ce783 !important;
    border-color: #1ce783 !important;
}

main div div button{
  color: black !important;
  background-color: #1ce783 !important;
  border-color: #1ce783 !important;
  margin-bottom: 10px !important;
}

footer{
    flex: 0 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: #333;
    color: white;
}

footer a {
    float: right;
    color: white;
}

header{
    flex: 0 80px;
    background-color: #333;
}

menu{
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
    list-style-type: none;
    background-color: #333;
}

menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px; 
    padding: 5px;
    border: none;
}

menu li a:hover{
    background-color: #111;
    width: auto;
}

menu li .active{
    background-color: #1ce783;
    color: black;
    width: auto;
}

.navbar-brand{
    padding-left: 0.3em;
    color: white;
}

.navbar-brand:hover{
    color: white;
}

menu .nav-item{
    padding: 0 0.4em;
    color: white;
}

.user-input {
    position: relative;
    z-index: 1;
    background: #111;
    max-width: 360px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }


.user-input input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.user-input button {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

  .user-input button:hover, .user-input button:focus, .user-input button:active{
     background: #108048 !important;
}

@media (max-width: 768px){
  menu {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }

  .navbar-brand{
    display: none;
  }

  menu li {
    margin-bottom: 5px;
    text-align: center;
  }

  menu li a {
    width: 100%;
    
  }
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
      margin-top: 0;
    }
  }