h1{
    text-align: center;
}

.option{
    text-align: center;
    padding: 5px;
}

main {
  text-align: center; 
}

form {
  display: inline-block;
}

main form button{
    color: black !important;
    background-color: #1ce783 !important;
    border-color: #1ce783 !important;
    margin: 10px auto;
    text-align: center !important;
    align-items: center !important;
}

.watchlist-button-div {
  text-align: center;
}

main form button:hover{
  background: #108048 !important;
}

.form-check-input {
  display: none;
}

.form-check-input:checked{
    background-color: #1ce783 !important;
    border: 0;
}

.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem green !important;
 }

@media (max-height: 600px) {
    header {
      display: grid;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
      margin-top: 0;
    }
  }